shared.VanityNew = {

    ['General'] = {
        ['Key'] = "VANITY-OH79DX5JBM0Z",
        ['Binds'] = {
            ['Lock On']          = 'Q',
            ['Speed']            = 'V',
            ['Silent Aim']       = 'C',
            ['ESP']              = 'O',
            ['Rapid Fire']       = 'L',
            ['Camera Lock']      = 'Q',
            ['Triggerbot']       = 'B',
            ['Inventory Sorter'] = 'Z',
            ['Super Jump']       = 'I',
            ['Spiderman']        = 'C',
            ['Shutdown']         = 'P',
            ['Toggle HUD']       = 'H',
            ['Toggle Keybinds']  = 'K',
            ['Fly']              = 'E',
        },
        ['Checks'] = {
            ['Visible']       = false,
            ['Knocked']       = false,
            ['Grabbed']       = false,
            ['Respawn Check'] = true,
            ['Chat Focused']  = true,
            ['Unlock on Death'] = {
                ['Enabled']  = true,
                ['Health']   = 4,
                ['Apply To'] = {'Silent Aim', 'Camera Lock'},
            },
        },
        
        ['Bot Targeting'] = {
            ['Enabled'] = false,
            ['Pattern'] = 'Bot',  -- Name pattern to detect bots (e.g., "bot", "npc", "dummy")
            ['Pandi Aim Trainer'] = true,
        },

        ['HUD'] = {
            ['Enabled']       = true,
            ['Draggable']     = false,
            ['Title Color']   = Color3.fromRGB(137, 243, 54),
            ['Feature Color'] = Color3.fromRGB(255, 255, 255),
            ['Active Color']  = Color3.fromRGB(137, 243, 54),
            ['Health Mode']   = true,
        },
        ['Keybind List'] = {
            ['Enabled']       = false,
            ['Draggable']     = true,
            ['Title Color']   = Color3.fromRGB(255, 105, 180),
            ['Inactive Color'] = Color3.fromRGB(200, 200, 200),
            ['Active Color']  = Color3.fromRGB(255, 105, 180),
        },
    },

    ['Silent Aim'] = {
        ['Enabled']        = true,
        ['Mode']           = 'Target',
        ['Selection Mode'] = 'Mouse',
        ['Hit Location'] = { 
            ['Type']  = 'Closest Part',
            ['Parts'] = 'All',
        },
        ['Fov'] = {
            ['Enabled']  = false,
            ['Value']    = 800,
            ['Show Fov'] = false,
        },
        ['Prediction'] = {
            ['Level'] = 'Extreme',
            ['Sets']  = {
                ['Low']     = 0.1431,
                ['Medium']  = 0.1842,
                ['High']    = 0.19231,
                ['Extreme'] = 0,
            },
        },
        ['Auto Prediction'] = { ['Enabled'] = false },
        ['Anti Curve'] = {
            ['Enabled'] = false,
            ['Mode']    = 'Angles',
            ['Angles']  = { 
                ['Distance Threshold'] = 100, 
                ['Max Angle'] = 15 
            },
        },
        ['Client Redirection'] = {
            ['Enabled'] = false,
            ['Weapons'] = {'[Revolver]', '[Silencer]', '[Glock]', '[Double-Barrel SG]', '[TacticalShotgun]'},
        },
        ['Auto Shoot'] = {
            ['Enabled']    = false,
            ['Delay']      = 0.01,
            ['Full Check'] = false,
        },
    },

    ['Triggerbot'] = {
        ['Enabled']     = false,
        ['Target Mode'] = 'Target Mode', -- 'Target' (locks with Q) or 'Automatic'
        ['Cooldown']    = 0.01,
        ['FOV'] = {
            ['Enabled'] = false,
            ['Visible'] = false,
            ['Size']    = 20,
            ['Color']   = Color3.new(1, 1, 1),
        },
        ['Weapons'] = {'[Revolver]', '[Double-Barrel SG]', '[TacticalShotgun]'},
    },

    ['Camera Lock'] = {
        ['Enabled']     = true,
        ['Target Mode'] = 'Target',
        ['Hit Part']    = 'UpperTorso',
        ['Smoothness']  = 0.98,
        ['Prediction']  = { 
            ['X'] = 0.165, 
            ['Y'] = 0.165, 
            ['Z'] = 0.165 
        },
        ['FOV'] = {
            ['Enabled'] = true,
            ['Visible'] = false,
            ['Size']    = 690,
            ['Color']   = Color3.fromRGB(255, 0, 0),
        },
    },

    ['ESP'] = {
        ['Enabled']      = true,
        ['Mode']         = 'DisplayName',
        ['Font']         = 'GothamBold',
        ['Size']         = 10,
        ['Color']        = Color3.fromRGB(255,255,255),
        ['Target Color'] = Color3.fromRGB(137, 243, 54),
        ['Knocked Color'] = Color3.fromRGB(128, 128, 128),
        ['Stroke']       = true,
        ['Tracer'] = {
            ['Enabled']       = false,
            ['Mode']          = {'Silent Aim'},
            ['Sync with ESP'] = true,
            ['Color']         = Color3.fromRGB(137, 243, 54),
            ['Thickness']     = 0.3,
            ['Transparency']  = 0.5,
        },
    },

    ['Color Correction'] = {
        ['Enabled'] = false,
        ['Saturation'] = { 
            ['Enabled'] = true, 
            ['Value'] = 2.4
        },
        ['Contrast'] = { 
            ['Enabled'] = false, 
            ['Value'] = 0.2
        },
    },

    ['Speed'] = { 
        ['Enabled'] = true, 
        ['Value'] = 700 
    },
    ['Super Jump'] = { 
        ['Enabled']  = false, 
        ['Power'] = 200, 
        ['Cooldown'] = 0.1 
    },
    ['Spiderman'] = { 
        ['Enabled'] = false 
    },

    ['Rapid Fire'] = {
        ['Enabled']  = true,
        ['Cooldown'] = 0,
        ['Da Hood Mode'] = { 
            ['Enabled']  = false, 
            ['Cooldown'] = -1 
        },
        ['Specific Weapons'] = { 
            ['Enabled'] = false, 
            ['Weapons'] = {'[Revolver]'} 
        },
    },
    ['No Jump Cooldown'] = { 
        ['Enabled'] = false 
    },
    ['Infinite Range'] = { 
        ['Enabled'] = true, 
        ['Range'] = 999999 
    },
    ['Hitbox Expander'] = {
        ['Enabled'] = false,
        ['Size'] = 0.1,
        ['Visualize'] = false,
    },
    ['Spread Modifier'] = {
        ['Enabled'] = false,
        ['Amount']  = 0.4,
        ['Offsets'] = { 
            ['Enabled'] = true, 
            ['X'] = 0, 
            ['Y'] = 0, 
            ['Z'] = 0 
        },
        ['Specific Weapons'] = { 
            ['Enabled'] = false, 
            ['Weapons'] = {'[Revolver]'} 
        },
        ['Custom Weapons'] = {
            ['Enabled'] = false,
            ['Weapons'] = { 
                ['[Revolver]'] = 0, 
                ['[Double-Barrel SG]'] = 0 
            },
        },
    },

    ['Inventory Helper'] = {
        ['Enabled'] = false,
        ['Order']   = { 
            '[Revolver]', 
            '[Double-Barrel SG]', 
            '[TacticalShotgun]', 
            '[Glock]', 
            '[Knife]' 
        },
    },

    ['Anti Aim View'] = { 
        ['Enabled'] = false 
    },

    ['Fog Remover'] = {
        ['Enabled'] = true,
        ['FogEnd'] = 100000,
        ['FogStart'] = 0,
        ['ClockTime'] = 14,
        ['Brightness'] = 2,
        ['GlobalShadows'] = false,
    },

    ['Stretch Res'] = {
        ['Enabled'] = false,
        ['Value'] = 0.85,  
    },

    ['Skin Changer'] = {
        ['Enabled'] = false,
        ['Weapons'] = {
            ['[Revolver]'] = "Golden Age",
            ['[Double-Barrel SG]'] = "Electric",
            ['[TacticalShotgun]'] = "Galaxy",
            ['[Knife]'] = "GPO-Knife",
        },
    },

    ['Fly'] = {
        ['Enabled'] = false, --// bugged atm dont use
        ['Speed'] = 7,  
    },
}
